<div>
    <div class="ui header">
        <h1>Profile</h1>
    </div>
    <form class="ui form" ng-class="{ 'error' : registration.vCode.$invalid && (registration.vCode.$touched || registration.$submitted) }" novalidate role="form" id="registration" name="registration" method="post" ng-submit="updateProfile()">
        <p>(<a tabindex="-1" href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=2" target="_blank">create an API key</a>)</p>
        <div class="two fields">
            <div class="two wide field">
                <input name="key" id="key" ng-model="user.key" type="text" placeholder="Key"/>
            </div>
            <div class="fourteen wide field">
                <input id="vCode" name="vCode" ng-model="user.vCode" type="text" placeholder="vCode" remote="/api/users/api/validate" revalidate-on="user.key" validate-params="{key: user.key}"/>
            </div>
        </div>
        <div ng-class="{ 'ui error message' : registration.vCode.$invalid && (registration.vCode.$touched || registration.$submitted) }">
            <div ng-messages="registration.vCode.$error" ng-if="registration.$submitted || registration.vCode.$touched">
                <p ng-message="remote" class="help-block">Invalid key and/or vCode.</p>
            </div>
        </div>
        <button type="submit" name="register" class="ui submit button">Register</button>
        <a href="/" class="ui primary button">Cancel</a>
    </form>
</div>
