.node rect
  stroke #999

.edgePath path
  stroke #333
  stroke-width 1px

.fixed-table-body
  height auto

g.leaf > rect
  fill #00ffd0

g.branch > rect
  fill #fff

tspan
  font-size 16px
  font-weight normal
