<div class="row col-md-12">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Void.Tech</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <p class="navbar-text" ng-show="user">Signed in as <a href="#" class="navbar-link">{{user.name}}</a></p>
                <p class="navbar-text" ng-hide="user"><a href="/api/auth/eveonline" target="_self" class="navbar-link">Sign In</a></p>
            </div>
        </div>
    </nav>
    <div class="row col-sm-12">
        <h1>Invention</h1>
    </div>
    <div class="row">
        <form class="form" role="form" id="type-search">
            <div class="form-group col-sm-6">
                <label class="sr-only">Type Name</label>
                <div class="input-group">
                    <ui-select ng-model="type.selected" theme="bootstrap">
                        <ui-select-match placeholder="Enter a type...">{{$select.selected.value}}</ui-select-match>
                        <ui-select-choices repeat="type in types track by $index"
                                           refresh="refreshTypes($select.search)"
                                           refresh-delay="0">
                            <div ng-bind-html="type.value | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <label class="sr-only" for="ml">ME</label>
                <div class="input-group">
                    <input class="form-control" id="ml" name="ml" type="number" min="0" max="10" step="1" placeholder="ML" ng-model="ml"/>
                    <span class="input-group-addon"><i class="fa fa-flask fa-fw"></i></span>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <label class="sr-only" for="quantity">Quantity</label>
                <div class="input-group">
                    <input class="form-control" id="quantity" name="quantity" type="number" placeholder="Quantity" ng-model="quantity"/>
                    <span class="input-group-addon"><i class="fa fa-cubes fa-fw"></i></span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row col-md-12" id="svg-container">
    <svg><g/></svg>
</div>
<div class="row col-md-12" ng-show="items">
    <table class="table table-striped table-hover" id="shopping-list">
        <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in items">
                <td>{{row.label}}</td>
                <td>{{row.total}}</td>
            </tr>
        </tbody>
    </table>
</div>
