<div class="row">
    <h1 class="ui header">Invention</h1>
    <form class="ui form" id="type-search">
        <div class="fields">
            <div class="six wide field">
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" name="type" placeholder="Type">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div class="two wide field">
                <div class="ui icon input">
                    <input id="ml" name="ml" type="number" min="0" max="10" step="1" placeholder="ML" ng-model="ml"/>
                    <i class="lab icon"></i>
                </div>
            </div>
            <div class="two wide field">
                <div class="ui icon input">
                    <input id="quantity" name="quantity" type="number" placeholder="Quantity" ng-model="quantity"/>
                    <i class="cubes icon"></i>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row" id="svg-container">
    <svg><g></g></svg>
</div>
<div class="row" ng-show="itemToBuy">
    <table class="ui sortable celled table" id="shopping-list">
        <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in itemToBuy">
                <td>{{row.label}}</td>
                <td>{{row.total}}</td>
            </tr>
        </tbody>
    </table>
</div>
